* {
  box-sizing: border-box;
}

body,
input,
select,
button {
  font-family: 'Poppins', sans-serif;
}

.v-input {
  .v-input__details {
    display: none;
  }
}

body {
  background: rgb(9, 0, 66) !important;
  background: linear-gradient(
    144deg,
    rgba(9, 0, 66, 1) 0%,
    rgba(11, 0, 78, 1) 100%
  ) !important;
}

.loading-bar {
  position: sticky;
  top: 10px;
  width: 100%;
}

#app {
  height: 100vh;

  .v-application {
    max-width: 450px !important;
    margin: 0 auto;

    &__wrap {
      margin: 0;
      height: 100%;
      overflow-y: auto;
      padding: 10px 20px;
      background: rgb(9, 0, 66) !important;
      background: linear-gradient(
        144deg,
        rgba(9, 0, 66, 1) 0%,
        rgba(11, 0, 78, 1) 100%
      ) !important;
    }
  }

  .v-main {
    padding-bottom: 20px !important;
  }
}

.secondary {
  color: #919094;
}

.outline {
  border: 1px solid #838383 !important;
  background: none !important;
}

.label {
  color: white;
}

.w-100 {
  width: 100% !important;
}

w-50 {
  width: 50%;
}

.h-100 {
  height: 100% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.text-ellipsis {
  display: inline-block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.date-box {
  padding: 5px;
  padding-right: 10px;
  background: #060124;
}
